* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.3em;
    color: #fff;
    background-color: #101932;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1600px;
    padding: 15px;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color: inherit;
}
li{
    list-style: none;
}
html{
    scroll-behavior: smooth;
}